$gradient-main: linear-gradient(to left, #018f8f, #51f7f7);
$gradient-main2: linear-gradient(to top, #018f8f, #51f7f7);
$gradient-main3: linear-gradient(to bottom, #018f8f, #51f7f7);
$gradient-main4: linear-gradient(to right, #018f8f, #51f7f7);
